---

import { Base } from "@/components/Base";
import MenuNav from "@/components/cabecita/MenuNav";
import Perfiles from "@/components/cabecita/Perfiles";
import Puedes from "@/components/cabecita/Puedes";
import MainLayout from "@/layout/MainLayout.astro";

const ruta = Astro.url.pathname;


---


<MainLayout>
  <section class="bg-[url('/fondo_perritos.png')] h-screen bg-cover bg-no-repeat bg-center">
    
    <Base client:idle/>
    
    <MenuNav client:idle ruta={ruta}/>
    <Perfiles client:idle />
    <Puedes client:idle />
    
  

  
  
</section>
</MainLayout>
