---
import { Base } from "@/components/Base";
import { Ejemplo } from "@/components/Ejemplo";
import MainLayout from "@/layout/MainLayout.astro";


---


<MainLayout>
<section class="container mx-auto ">
	<div class="bg-slate-800 h-40">

	</div>
	<div class="flex h-[800px]">
		<div class="bg-slate-700 w-1/3 p-12 space-y-4">
			<button class="btn btn-ghost bg-slate-600 text-slate-200 w-full">La Anunciación</button>
			<button class="btn btn-ghost bg-slate-600 text-slate-200 w-full">Cólera Morbo</button>
			<button class="btn btn-ghost bg-slate-600 text-slate-200 w-full">Karol, la reina vampira</button>
			<button class="btn btn-ghost bg-slate-600 text-slate-200 w-full">Laika en las estrellas</button>
			<button class="btn btn-ghost bg-slate-600 text-slate-200 w-full">Duermevela</button>
			<button class="btn btn-ghost bg-slate-600 text-slate-200 w-full">El Resquicio</button>
			<button class="btn btn-ghost bg-slate-600 text-slate-200 w-full">Antología de lo invisible</button>
			<button class="btn btn-ghost bg-slate-600 text-slate-200 w-full">Señoritas</button>

			<button class="btn btn-primary mt-20  text-slate-200 w-full">Nosotros</button>


		</div>
	
		<div class="bg-slate-700 w-2/3 bg-opacity-40 text-slate-500 hover:text-slate-100 p-8 duration-300 transition-colors">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, ea voluptatibus itaque deleniti, distinctio dolorem dolor laudantium magni esse nam ipsa eum dignissimos eveniet dolore sequi aliquam consectetur iusto voluptatem?
			Accusamus, officiis optio cumque hic quidem amet! Ex repellat tenetur quibusdam est quo nostrum architecto optio, possimus rerum esse ut modi quaerat numquam vero hic. Alias eius consequatur quis neque?
		</div>
	
	</div>
</section>
</MainLayout>