---
import { Base } from "@/components/Base";
import { Ejemplo } from "@/components/Ejemplo";
import MainLayout from "@/layout/MainLayout.astro";


---


<MainLayout>
	<section class="bg-[url('/fondo_perritos.png')] h-lvh bg-cover bg-no-repeat bg-center">
		
		<Base client:idle/>
		
			<Ejemplo client:idle/>

		
	</section>
</MainLayout>

