<header class="bg-header flex items-center justify-center h-screen pb-12">
  <div class="bg-white font-serif mx-4 p-4 text-center md:p-8">
    <p class="italic text-sm">
      November 1, 2019
    </p>
    <h1 class="text-5xl uppercase">
      Article Title
    </h1>
    <p class="text-lg h-[890px]">
      Author Name 
    </p>
    
  </div>
</header>


<style>
  /**
 * Custom CSS
 *
 * Add this to your Tailwind CSS file,
 * or to a separate, custom CSS file.
 *
 * Update the background images to suit
 * your project.
 */
.bg-header {
  background: url(https://picsum.photos/1920/1920/?random) center center no-repeat;
  background-attachment: fixed;
}

.bg-quote {
  background: url(https://picsum.photos/1600/1600/?random) center center no-repeat;
  background-attachment: fixed;
}
</style>