---
import { Base } from "@/components/Base";
import MenuNav from "@/components/cabecita/MenuNav";
import { SelectProyecto } from "@/components/cabecita/SelectProyecto";
import FooterCabecita from "@/components/FooterCabecita.astro";

import MainLayout from "@/layout/MainLayout.astro";

const ruta = Astro.url.pathname;



---


<MainLayout>
  <section class="bg-[url('/fondo_perritos.png')] h-fit md:h-screen bg-cover bg-no-repeat bg-center">
    <Base client:idle/>
    <MenuNav client:idle ruta={ruta} />

  <SelectProyecto client:idle />
  <FooterCabecita />
</section>

</MainLayout>
