---
import '@fontsource-variable/oswald';
import '@fontsource/roboto';
import { ViewTransitions } from 'astro:transitions';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cabecita Negra Producciones</title>
		<ViewTransitions />
	</head>
	<body class="bg-indigo-950 h-lvh text-slate-100">w
		<a href="/"><img src="/logoinv.png"	 alt="Cabecita Negra Producciones LOGO" 
			class="absolute top-4 left-4 md:top-8 md:left-8 h-16 md-h24"></a>
		<slot />
	</body>
</html>
<style is:global>

body {
	font-family: 'Roboto', sans-serif;


}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald Variable', sans-serif;
}

</style>
